@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: linear-gradient(to bottom right, rgb(113, 2, 67),rgba(113, 2, 67,0.6));
    display: flex;
    align-items: center;
    place-content: center;
}
.form-content {
    font-family: 'Poppins';
    display: flex;
    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);    
    .bg-section{
        background-image: url('img/2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
        width: 45%;
        padding: 2rem;
        color: white;
        display: flex;
        align-items: center;
        .content {
            backdrop-filter: blur(.5rem);
            padding: 1rem;
            width: 25rem;
            h1 {
                font-size: 1.5rem;
                font-weight: 400;
                text-align: left;
                background-color: rgba(255, 255, 255, 0.2);
                width: 7.2rem;
            }
            hr {
                margin-top: .5rem;
                width: 3rem;
                border: none;
                border-radius: 5px;
                height: 3px;
                background-color: white;
            }
            h4 {
                font-size: 1.25rem;
                font-weight: 400;
                margin: 1rem 0 .5rem 0;
            }
            h3 {
                font-size: 2rem;
                font-weight: 400;
                margin: .5rem 0 .5rem 0;
            }
            p {
                font-size: 1rem;
                font-weight: 400;
            }
            h5 {
                font-size: 1.25rem;
                margin: 8rem 0 -.5rem 0;     
                font-weight: 500;
            }
        }
    }
    .form-section{
        padding: 2rem;
        h2 {
            margin: 1rem;
            font-size: 2.5rem;
            font-weight: 400;
        }
        h3{
            font-size: 1rem;
            margin: -.5rem 1rem 1rem 1rem;
            font-weight: 400;
            color: gray;
        }
        label {
            font-size: 1.1rem;
            font-weight: 600;
            margin: 1rem;
        }
        input {
            width: 20rem;
            padding: .75rem;
            margin: 1rem;
            border: 2.5px solid #efefef;
            border-radius: .25rem;
            font-size: .9rem;
            font-weight: 600;
            transition: border 1s ease-in;

            &:active {
                border: 2px solid rgb(113, 2, 67);
            }
        }
        button {
            -moz-box-sizing:content-box;
            -webkit-box-sizing:content-box;
            -ms-box-sizing: content-box;
            box-sizing:content-box;
            width: 20rem;
            font-size: 1rem;
            font-weight: 600;
            margin: 1rem;
            padding: .75rem;
            border: none;
            border-radius: .25rem;
            transition: all .2s ease-in;

            &:hover {
                background-color: rgb(113, 2, 67);
                color: white;
            }
        }
    }

}